@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);

therapy-session {
  position: absolute;
  top: 25px; left: 25%; right: 25%; bottom: 25px;

  background: lightblue;
  font: 'Crimson Text';

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

therapy-msg {
  display: block;
  margin: 0; /*9px;*/
}

therapy-msg.from-therapist {
}

therapy-msg.from-user {
  color: #339;
}

therapy-session form {
  /*width: 100%;*/
}

therapy-session therapy-log {
  display: block;
  overflow: auto;
}

therapy-session input[type=text] {
  font-size: 12pt;
  border: none;
  outline: none;
  font-family: 'Crimson Text';
  display: block;
  width: 100%;
  width: calc(100% - 18px);
  padding: 9px;
  background: #eef;
}

therapy-session input[type=submit] {
  display: none;
}